@media screen and (max-width: 768px) {



    
}

@media screen and (max-width: 1400px) {
    .contact-form__image {
        max-width: 676px;
        right: 0px;
    }
    .contact-info__contact-form-wrap {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);       
    }
}

@media screen and (max-width: 1200px) {
    .hero__title {
        font-size: clamp(2.625rem, 2.211rem + 1.03vw, 3rem);
        font-weight: 800;
        line-height: clamp(3.344rem, 2.792rem + 1.38vw, 3.844rem);


    }

    .hero__stats-item {
        font-size: clamp(2.375rem, 1.685rem + 1.72vw, 3rem);
    }

    .hero__column:first-child {
        max-width: 420px;
    }

    .hero__background-image {
        top: 60%;
        left: 50%;
        max-width: clamp(34.375rem, 18.168rem + 40.52vw, 49.063rem);
        height: auto;
        z-index: -1;
    }

    .hero__column {
        max-width: clamp(12.5rem, 3.534rem + 22.41vw, 20.625rem);
    }

    .works__item {
        max-width: max-content;

        padding-left: clamp(0.938rem, -11.438rem + 18vw, 2.063rem);
        padding-right: clamp(0rem, -27.5rem + 40vw, 2.5rem);

    }

    .why-us__list {
        gap: 20px;
    }

    .contact-form__image {
        background-size: contain;
        position: relative;
        top: 3%;
        width: 100%;
    }

    .contact-form__label[for="file"] {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .project-stages__step:last-child .project-stages__step-title::after {
        display: none;
    }   
    .project-stages__step-title::after { 
        top: 45px;
        left: 50%;
        transform: translate(-50%);
        transform: translate(-50%) rotate(90deg);
    }
    .project-stages__step-title{
        position: relative;

    }
    .project-stages__step {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: baseline;
        gap: 20px;
    }
    .project-stages__steps {        
        grid-template-columns: 1fr;
    }
    .project-stages__header {
        grid-template-columns: 1fr;
        margin-bottom: 40px;        
    }
    .project-slider,
.project-stages,
.post-features,
.results {
    padding: 40px 0px;
}
    .post-features__list {        
        grid-template-columns: 1fr 1fr;       
    }
    .single-post__title {
        text-align: center;
    }
    .single-post__description {
        max-width: 520px;
        text-align: center;
    }
    .single-post__image-wrapper::after {
        content: ""; /* Убедись, что псевдоэлемент отображается */
        width: 547px;
        height: 547px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Сдвигаем элемент на его половину ширины и высоты */
    }
    .single-post__image {
position: relative;
top: 0;
    }
    .single-post__hero-wrap {   
        grid-template-columns: 1fr;
        margin-bottom: 70px;
    }
    .single-post__image-wrapper {
        position: relative;
        display: flex;
        margin: 0 auto;
    }
    .single-post__intro {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    .our-values__header {
        position: static;
    }
    .our-values__header::after {
        right: 0px;
        bottom: 0px;
    }
    .our-values::after {
        width: 160px;
        height: 500px;
        top: -111px;
    }
    .our-values__description {
        margin-top: 20px;        
    }
    .our-values__header {        
        max-width: 460px;
        
    }
    .our-values-content {       
        flex-direction: column;
        gap: 0px;
    }
    .about-hero__backgrond-img {
        top: 60px;
    }
    .about-hero__backgrond {
        height: 20vh;
    }
    .about-hero__img {
        right: -159px;
        top: -123px;
    }
    .about-hero__backgrond-img {        
        width: 105%; 
    }
    .works__image {
        height: 250px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .works__description {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: center;
    }

    .works__item {
        align-items: center;
        flex-direction: column;
        padding-right: 20px;
    }

    .works__item-content {
        padding: 16px 0px;
        align-items: center;
    }

    .telegram-app__advantage-list {

        grid-template-columns: 1fr 1fr;

        margin-top: 42px;
    }

    .hero__row {
        flex-direction: column;
        gap: 34px;
    }

    .hero__background-image {
        top: 25%;
        left: 75%;

    }

    .hero__column:not(:first-child) {
        max-width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .advantages__list {
        grid-template-columns: 1fr 1fr;
    }

    .ideas__img {
        width: 386px;
        right: -7%;
    }

    .ideas {
        overflow: hidden;
    }

    .why-us__item--large {
        grid-column: 1 / span 2;
        /* Растягиваем элемент на две колонки */
        grid-row: 3;
        /* Размещаем элемент на последней строке */
    }

    .why-us__list {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .why-us__item {
        max-width: none;
    }

    .why-us__item--large>.why-us__item-content {
        padding-left: 90px;
    }

    .company-processes__cards {
        gap: 20px;
    }

    .company-processes__card-tags {
        margin-top: 10px;
        margin-left: 10px;
    }

    .contact-form__image {
        align-self: self-end;
    }

    .contact-form__flex {
        grid-template-columns: 1.4fr 1fr;
    }
    .footer__row {        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
    }
    .footer__nav {
        grid-row: 2 / 3;
    }
    .footer__actions {
        flex-direction: column;
        align-items: end;
    }
    .footer__actions-btn {
        max-width: 224px;
    }
    .contact-info__wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .contact-info__contact-form-wrap {
        position: relative;
        margin-top: -50px;
    }
}

@media screen and (max-width: 850px) {
    .about-hero__backgrond {
        height: 12vh;
    }
    .contact-form__flex {
        grid-template-columns: 1.8fr 1fr;
    }

    .company-processes__card {
        gap: 10px;
    }

    .company-processes__card-title {
        font-size: 16px;
        line-height: 19.2px;
    }

    .company-processes__card-description {
        font-size: 12px;
        line-height: 19.2px;
        margin-top: 10px;
    }

    .ideas__img {
        width: 274px;
        right: -7%;
    }

    .applications__list {
        grid-template-columns: 1fr 1fr;
    }

    .testimonials__row {
        grid-template-columns: 1fr;
        gap: 45px;
    }

    .testimonials__slider {
        position: unset;
    }

    .testimonials__slider-actions {
        position: absolute;
        bottom: 0px;
    }

    .testimonials {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 70px;
        position: relative;
    }

    .testimonials__avatar img {
        width: 65px;
        height: 65px;
    }

    .testimonials__avatar.active img {
        width: 85px;
        height: 85px;

    }
    
}

@media screen and (max-width: 768px) {
    .project-stages__title::after {
        top: auto;
        right: 0;
        bottom: 0px;
    }
    .project-stages__title {
        position: static;
    }
    .team-member__name {
        font-size: 14px;
        font-weight: 600;       
    }
    .team-member__position {
        margin-top: 0px;
    }
    .our-values__list {        
        grid-template-columns: 1fr 1fr;        
    }
    .about-hero__stat-desc {
        margin: 0;
        font-size: 16px;
    }
    .about-hero__desc > p {
        max-width: 352px;
    }
    .about-hero__stat-desc {        
        max-width: 204px;
    }
    .about-hero__content {        
        grid-template-columns: 1fr;        
    }
    .about-hero__img {
        right: -159px;
        top: -80px;
    }
    .about-hero__backgrond {
        height: 9vh;
    }
    .about-hero__backgrond-img {
        width: 100%;
    }
    .about-hero__img {
        max-width: 670px;
    }
    .about-hero__backgrond-img {
        top: 40px;
    }
    .header__burger {
        display: block;
        z-index: 2;
    }
    .header__burger.active {
        position: fixed;
        right: 20px;
        top: 40px;
    }
    .header__container {
        margin: 20px auto;
    }

    /* Базовые стили для меню и навигации */
    .header__nav {
        justify-content: flex-start;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #FBFBFB;
        height: 100vh;
        width: 0px;
        /* ширина выдвигаемого меню */
        transition: width 0.7s ease;
        /* Плавное выдвижение */
        overflow: hidden;
        /* Скрытие содержимого до активации */
    }

    .header__nav.active {
        max-width: none;
        width: 330px;
        z-index: 2;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        list-style: none;
        padding: 20px;
        margin: 0;
    }
    .header__link {
        font-size: 20px;
        font-weight: 600;
    }
    .header__menu.active {
        display: flex;
        align-items: flex-start;
        padding-left: 40px;
        gap: 25px;
        justify-content: flex-start;
    }
.header__button {
    display: none;
}
.header__actions {    
    width: 100%;
    margin-right: 0;
    flex-direction: column;
    align-items: end;
}
.header__actions--mobile {
    max-width: none;
    margin-top: 55px;
}
.project-stages::after {   
    width: 137px;
    height: 490px;
}
.header__actions--mobile .header__socials-item {
    display: none;
}
    /* Стили для логотипа и кнопки в мобильном меню */
    .header__nav .header__logo,
    .header__nav .header__button {
        margin-bottom: 20px;
    }

    .hero__row {
        margin-top: clamp(3.75rem, 1.438rem + 11.56vw, 6.063rem);
    }

    .header__actions--mobile .header__socials-link,.header__actions--mobile .header__button {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 18px;
        font-size: 12px;
        font-weight: 600;
        line-height: 19.2px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: 1px solid #0073e6;
        color: #0D83EF;
        border-radius: 100px;
        width: 245px;
    }
    .header__actions--mobile .header__button {
        display: block;
        background-color: #0D83EF;
        color: #fff;
    }
    .header__actions--mobile .header__socials-link::before {
        content: '';
        display: block;
        background-image: url(../img/TelegramLogo-blue.svg);
        width: 18px;
        height: 18px;
    }
    .company-processes__cards {
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .ideas__backgound {
        padding-top: 60px;
        padding-bottom: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .ideas__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.4px;
        margin-top: 0px;
        margin-bottom: 40px;
        max-width: 270px;
    }

    .ideas__actions {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .hero__background-image {
        top: 25%;
        left: 88%;
        z-index: -1;
    }

    .hero__title {
        margin-bottom: 10px;
        font-size: clamp(1.875rem, 1.125rem + 3.75vw, 2.625rem);
        line-height: clamp(2.391rem, 1.434rem + 4.78vw, 3.347rem);
    }

    .hero__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        margin-bottom: 30px;
    }

    .telegram-app__row {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .telegram-app__title {

        text-align: center;
    }

    .telegram-app {
        margin-top: 0px;
    }

    .telegram-app__btn {
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .ideas__actions {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .works__list {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

    .works__actions-btn {
        display: none;
    }

    .works__item {
        display: none;
        /* Скрыть все элементы по умолчанию */
    }

    .works__item:nth-child(1),
    .works__item:nth-child(2) {
        display: flex;
        /* Показать только первые два элемента */
    }

    .works__title {
        text-align: start;
        margin: 0px;
    }

    .stages__list {
        margin-top: 40px;
        flex-direction: column;
    }

    .stages::before,
    .stages__list::after,
    .stages::after {
        display: none;

    }

    .stages__item:not(:last-child)::after {
        top: 0px;
        left: 30px;
        transform: translateX(-50%);
        width: 1px;
        height: calc(100% + 80px);
        background-image: repeating-linear-gradient(to bottom,
                rgba(13, 131, 239, 0.25) 0,
                rgba(13, 131, 239, 0.25) 10px,
                transparent 10px,
                transparent 20px);
    }

    .stages__item {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .stages__step {
        margin-top: 0px;
    }

    .contact-us {
        padding: 50px 30px;
    }

    .contact-us__btn,
    .contact-us__link {
        max-width: 240px;
        font-size: 14px;
        line-height: 17.85px;
        padding: 20px 15px;
        width: 100%;
    }

    .contact-us__desc {
        font-size: 18px;
        line-height: 22.95px;
    }

    .contact-us__title {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .contact-us__actions {
        margin-top: 30px;
    }

    .contact-us__background {
        padding: 50px 0px;
    }

    .contact-us__actions {
        margin-top: 30px;
        flex-direction: column;
    }

    .why-us__item-content {
        padding-left: 80px;
        padding-right: 30px;

    }

    .faq__question-title {
        font-size: 16px;
        line-height: 20.4px;

    }

    .faq__answer>p {
        font-size: 14px;
        margin-top: 30px;
    }

    .contact-form__image {
        display: none;
    }

    .contact-form__flex {
        grid-template-columns: 1fr;
    }

    .contact-form-wrap {
        max-width: none;
    }
    .testimonials__avatar {
        max-width: 85px;
        width: 100%;
        height: 85px;
        position: relative;
    }
    .testimonials__avatars {
        justify-content: start;
        }
        .team-member {            
            max-width: 220px;           
        }
}


@media screen and (max-width: 639px) {
    .archive-title {
        margin-bottom: 0px;
    }
    .project-archive__header {        
        grid-template-columns: 1fr;
    }
    .post-features__list {
        grid-template-columns: 1fr;
    }
    .single-post__actions {
        flex-direction: column;
        align-items: center;
    }
    .single-post__actions {
        margin-top: 30px;   
    }
    .results__list {     
        margin-bottom: 30px;        
    }
    .results__actions {
        text-align: center;
    }
    .results__desc {
        margin: 5px 0;
    }
    .results__backround {
        display: flex;
        margin: 0 auto;
    }  
    .results__backround::after {        
        left: 50%;
        transform: translate(-50%);
        transform: translate(-50%) rotate(90deg);
        z-index: -1;
    }
    .results__row {      
        grid-template-columns: 1fr;
    }
    .our-values__header {
        max-width: 460px;
        text-align: center;
    }
    .our-values {
        padding: 20px 0px;       
    }
    .our-values__list {
        grid-template-columns: 1fr;
    }
    .about-hero__stats {
        display: flex;
        flex-direction: column;
    }
    .about-hero__img {
        max-width: 539px;
        position: relative;
        margin: 0 auto;
        top: auto;
        right: auto;
        left: -30px;
    }
    
    .about-hero__content {
        display: block;
    }
    
    .about-hero__backgrond {
        height: 43px;
    }
    .about-hero__backgrond-img {
        top: 20px;
    }
    h2 {
        font-size: clamp(1.75rem, 1.125rem + 3.13vw, 2.375rem);
        line-height: clamp(2.231rem, 1.431rem + 4vw, 3.031rem);
    }
    .page-title {
        margin-top: 10px;
    }
    .hero__background-image {
        width: 140vw;
        min-width: unset;
        transform: translate(-72%, 0%) scale(1.5);
        margin-bottom: 0;
        position: relative;
    }

    .hero__column:not(:first-child) {
        grid-template-columns: 1fr;
    }

    .hero__stats {
        margin-bottom: 10px;
    }

    .hero__subtitle {
        margin-bottom: 20px;
    }

    .hero__btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;       
    }

    .telegram-app__advantage-list {
        grid-template-columns: 1fr;
        margin-top: 42px;
    }

    .ideas__img {
        display: none;
    }

    .ideas__title {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .ideas__link,
    .ideas__btn {
        padding: 20px 10px;
        font-size: 14px;
    }
    .ideas__wrap {
        display: flex;
        justify-content: center;
    }
    .ideas__backgound {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .works__list {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .works__item:nth-child(1),
    .works__item:nth-child(2) {
        display: flex;
        flex-direction: row;
    }

    .works__item-content {
        padding: 20px 0px;
        align-items: flex-start;
    }

    .works__description {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: start;
        max-width: 50%;
        line-height: 19.75px;
    }

    .works__image {
        height: auto;
        margin-top: 0px;
        max-width: 133px;
        width: 100%;
        right: 0px;
        position: absolute;
        bottom: 0;
    }

    .works__btn {
        gap: 5px;
        max-width: 50%;
        font-size: 12px;
        padding: 0;
        height: 40px;
    }

    .works__icon {
        max-width: 60px;
    }

    .stages__description {
        font-size: 16px;
        line-height: 20px;
    }

    .contact-us__desc {
        font-size: 16px;
        line-height: 22.95px;
    }

    .contact-us__actions {
        margin-top: 20px;
        flex-direction: column;
    }

    .contact-us__background {
        padding: 40px 0px;
    }

    .why-us__list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .why-us__item {
        grid-column: 1;
        /* Все элементы будут в одной колонке */
    }

    /* Перемещаем большой элемент в самый конец */
    .why-us__item--large {
        grid-column: 1;
        grid-row: 5;
        /* Размещает элемент в последнем ряду */
        width: 100%;
        /* На всю ширину */
    }

    .why-us__title {
        margin-top: 0px;
    }

    .why-us {
        padding-top: 0px;
    }

    .clients__slider {
        margin-top: 20px;
        overflow: hidden;
    }

    .faq__title {
        margin-bottom: 20px;
    }

    .faq__item {
        padding: 20px 17px;
    }

    .contact-form__field--action {
        flex-direction: column;

    }

    .footer {
              padding-top: 30px;
    }
    .footer__row {
        grid-template-columns: 1fr;
    }
    .footer__actions {
        align-items: start;
    }
    .contact-info__wrap {
        grid-template-columns: 1fr;       
    }
}

@media screen and (max-width: 540px) {
        .project-goal__wrapper {        
        grid-template-columns: 1fr;    
    }
    .project-goal__block:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    .advantages__list {
        grid-template-columns: 1fr;
    }

    .advantages__item {
        max-width: max-content;
        align-items: self-start;
    }

    .applications__list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .applications__item:nth-child(even) {
        margin-top: 0px;
    }

    .stages__btn {
        margin: 0 auto;
    }

    .stages__list::before {
        display: none;
    }

    .why-us__item-content {
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .why-us__item--large>.why-us__item-content {
        padding-top: 90px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .why-us__link {
        width: 100%;
        font-size: 14px;
    }

    .company-processes__cards {
        grid-template-columns: 1fr;
    }

    .company-processes__card {
        max-width: none;
    }

    .contact-form__file-button {
        max-width: none;
        justify-content: center;
    }

    .contact-form__submit {
        max-width: none;
    }

    .contact-form__title {
        margin-bottom: 20px;
    }

    .contact-form-wrap {
        padding: 30px;
    }

    .contact-form>.container {
        padding: 0px;
    }
    .footer__author-name {
        margin-top: 20px;
    }
    .footer__info {
        flex-direction: column;
    }
    .hero__btn {
        max-width: none;
    }
    .applications__item {
        max-width: none;

    }
    .applications__item-image {       
        width: max-content;
        left: auto;
        bottom: 0px;
        right: 0px;
        
    }
    .results__button {
        max-width: none;
    }
}

@media screen and (max-width: 460px)  {
    .single-post__button, .single-post__link {
        width: 100%;
        max-width: none;
    }
}