@media screen and (max-width: 768px) {

    .header__actions {
        display: none;
    }

    .header__burger {
        display: block;
        z-index: 2;
    }

    .header__container {
        margin: 20px auto;
    }

    /* Базовые стили для меню и навигации */
    .header__nav {
        justify-content: flex-start;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #FBFBFB;
        height: 100vh;
        width: 0px;
        /* ширина выдвигаемого меню */
        transition: width 0.7s ease;
        /* Плавное выдвижение */
        overflow: hidden;
        /* Скрытие содержимого до активации */
    }

    .header__nav.active {
        width: 300px;
        z-index: 2;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        list-style: none;
        padding: 20px;
        margin: 0;
    }

    .header__menu.active {
        display: flex;
        align-items: flex-start;
    }

    /* Стили для логотипа и кнопки в мобильном меню */
    .header__nav .header__logo,
    .header__nav .header__button {
        margin-bottom: 20px;
    }
    .hero__row {
        margin-top: clamp(3.75rem, 1.438rem + 11.56vw, 6.063rem);
    }
}

@media screen  and (max-width: 1200px) {
    .hero__title {
        font-size: clamp(2.625rem, 2.211rem + 1.03vw, 3rem);
        font-weight: 800;
        line-height: clamp(3.344rem, 2.792rem + 1.38vw, 3.844rem);


    }
    .hero__stats-item {
        font-size: clamp(2.375rem, 1.685rem + 1.72vw, 3rem);
    }
    .hero__column:first-child {
        max-width: 420px;
    }

    .hero__background-image {
        top: 60%;
        left: 50%;
        max-width: clamp(34.375rem, 18.168rem + 40.52vw, 49.063rem);
        height: auto;
        z-index: -1;
    }

    .hero__column {
        max-width: clamp(12.5rem, 3.534rem + 22.41vw, 20.625rem);
    }
    .works__item {
        max-width: max-content;
        
        padding-left: clamp(0.938rem, -11.438rem + 18vw, 2.063rem);
        padding-right: clamp(0rem, -27.5rem + 40vw, 2.5rem);
       
    }
}
@media screen and (max-width: 1024px) {
    .works__image {
        height: 250px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .works__description {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: center;
    }
    .works__item {
        align-items: center;
        flex-direction: column;
        padding-right: 20px;
    }
    .works__item-content {
        padding: 16px 0px;    
        align-items: center;
    }
    .telegram-app__advantage-list {
       
        grid-template-columns: 1fr 1fr;
        
        margin-top: 42px;
    }
    .hero__row {
        flex-direction: column;
        gap: 34px;
    }
    .hero__background-image {
        top: 25%;
        left: 75%;     
       
    }
    .hero__column:not(:first-child) {
        max-width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .advantages__list {        
        grid-template-columns: 1fr 1fr;        
    }
    .ideas__img {
        width: 386px;
        right: -7%;
    }
}
@media screen and (max-width: 850px) { 
    .ideas__img {
        width: 274px;
        right: -7%;
    }
    .applications__list {       
        grid-template-columns: 1fr 1fr;        
    }
}
@media screen and (max-width: 768px) {
    .ideas__backgound {
        padding-top: 60px;
        padding-bottom: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .ideas__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.4px;
        margin-top: 0px;
        margin-bottom: 40px;
        max-width: 270px;
    }
    .ideas__actions {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .hero__background-image {
        top: 25%;
        left: 88%;
        z-index: -1;        
    }
    .hero__title {
        margin-bottom: 10px;
        font-size: clamp(1.875rem, 1.125rem + 3.75vw, 2.625rem);
        line-height: clamp(2.391rem, 1.434rem + 4.78vw, 3.347rem);
    }
    .hero__subtitle {      
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;    
        margin-bottom: 30px;
    }
    .telegram-app__row {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .telegram-app__title {
        
        text-align: center;
    }
    .telegram-app {
     margin-top: 0px;
    }
    .telegram-app__btn {
        margin: 0 auto;
        position: absolute;
        bottom: 0; 
        left: 50%;
        transform: translateX(-50%);       
    }
        .ideas__actions {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .works__list {
        margin-top: 20px;       
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .works__actions-btn {
        display: none;
    }
    .works__item {
        display: none; /* Скрыть все элементы по умолчанию */
    }
    .works__item:nth-child(1),
.works__item:nth-child(2) {
    display: flex; /* Показать только первые два элемента */
}
.works__title {
    text-align: start;
    margin: 0px;
}
}

@media screen and (max-width: 639px) {
    h2 {
        font-size: clamp(1.75rem, 1.125rem + 3.13vw, 2.375rem);
        line-height: clamp(2.231rem, 1.431rem + 4vw, 3.031rem);
    }
    .hero__background-image {       
        top: auto;
        left: auto;
        transform: translate(-26%, -17%);
        z-index: -1;        
        min-width: 720px;        
        position: relative;      
        margin-bottom: -150px;
    }
    .hero__column:not(:first-child) {
        grid-template-columns: 1fr;        
    }
    .hero__stats {
        margin-bottom: 10px;
    }
    .hero__subtitle {
        margin-bottom: 20px;
    }
    .hero__btn, .stages__btn, .contact-form__submit {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;
    }
    .telegram-app__advantage-list {
        grid-template-columns: 1fr;
        margin-top: 42px;
    }
   .ideas__img {
        display: none;
    }
    .ideas__title {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .ideas__link, .ideas__btn {
        padding: 20px 10px;
        font-size: 14px;
    }
    .ideas__backgound {
        padding-top: 40px;
        padding-bottom: 40px;  
    }
    .works__list {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .works__item:nth-child(1), .works__item:nth-child(2) {
        display: flex;
        flex-direction: row;
    }
    .works__item-content {
        padding: 16px 0px;
        align-items: flex-start;
    }
    .works__description {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: start;
        max-width: 50%;
        line-height: 19.75px;
    }
    .works__image {
        height: auto;
        margin-top: 0px;
        max-width: 133px;
        width: 100%;       
        right: 0px;
        position: absolute;
        bottom: 0;
    }
    .works__btn {
        gap: 5px;
        max-width: 50%;
        font-size: 12px;
        padding: 0;
        height: 40px;
    }
    .works__icon {
        max-width: 60px;
    }
}

@media screen and (max-width: 540px) {
.advantages__list {        
    grid-template-columns: 1fr;        
}
.advantages__item {
    max-width: max-content;   
    align-items: self-start;
}
.applications__list {
    grid-template-columns: 1fr;
    justify-items: center;
}
.applications__item:nth-child(even) {
    margin-top: 0px;
}
}